<ion-header class="ion-no-border" color="warning" >
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton"  [defaultHref]="backButton"  ></ion-back-button>
    </ion-buttons>

    <ion-title>
      <strong>{{title}}</strong>
      <div class="admin"><STRONg>R E G I S T R APP</STRONg></div>
    </ion-title>
    <!-- log out -->
    <ion-buttons slot="end">
      <ion-button (click)="signOut()" fill="clear" color="light">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
